body {
  font-family: 'Arial', sans-serif;
}

*, html {
  padding: 0;
  margin: 0;
}


.workshops small {
  font-weight: normal;
  font-style: italic;
  padding-left: 10px;
}

.btn {
  display: inline-block;
  padding: 10px;
  border-radius: 14px;
  background: #1569C7;
  color: white;
  margin: 5px;
}

.author {
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.author img {
  float: left;
  margin-right: 15px;
}

.author p {
  margin-left: 20px;
}

.hd {
  width: 100%;
  height: 530px;
  background-color: #333;
  background: url(./conference.png) no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.logo {
  width: 100%;
  text-align: center;
  padding-top: 110px;
  text-transform: uppercase;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}


.blurb {
  background-color: #69c7cf;
  width: 100%;
  padding: 40px 0 40px 0;
}

.bl.title {
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font: bold 16px Montserrat;
}

.bl.desc {
  width: 1000px;
  margin: 10px auto;
  color: #fff;
  text-align: center;
  font-size: 22px;
  font-family: Muli, Arial, Helvetica;
}



.upcoming {
  width: 100%;
  height: auto;
  min-height: 200px;
}

.up.title {
  width: 100%;
  text-align: center;
  font-family: Muli, Arial, Helvetica;
  font-size: 42px;
  color: #121212;
  padding: 30px 0 0 0;
}



.up.workshop {
  width: 1000px;
  padding-bottom: 20px;
  margin: 20px auto;
  position: relative;
}

.up.workshop.first {
  border-bottom: 1px solid rgba(51, 51, 51, 0.2);
  margin: 50px auto 20px auto;
}



.up.cal {
  height: 150px;
  width: 150px;
  box-sizing: border-box;
  background-color: #ea8484;
  border-radius: 5px;
  position: relative;
}


.date {
  position: absolute;
  font-family: Montserrat;
  font-weight: 700;
  color: #fff;
  text-align: center;
  width: 100%;
}


.date.day {
  top: 10px;
  font-size: 80px;
}

.date.month {
  bottom: 30px;
  font-size: 23px;
  text-transform: uppercase;
}


.wk.title, .wk.time {
  position: absolute;
  top: 10px;
  left: 170px;
  text-transform: uppercase;
  font-family: Montserrat;
  font-weight: 700;
}

.wk.desc {
  position: absolute;
  top: 35px;
  left: 170px;
  font-family: Muli, Arial, Helvetica;
  width: 600px;
}


.wk.time {
  top: 145px;
  font-size: 14px;
  color: #515151;
}


.wk.book {
  position: absolute;
  right: 30px;
  top: 30px;
}

.wk.book a {
  display: block;
  background-color: #69c7cf;
  padding: 20px;
  font-size: 20px;
  font-family: Montserrat;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
  border: 2px solid #69c7cf;
}

.wk.book a:hover {
  border: 2px solid #515151;
}


.author {
  background-color: #69c7cf;
  width: 100%;
  padding: 30px 0;
}

.a.handle {
  width: 240px;
  margin: 0 auto;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Montserrat;
  font-size: 17px;
}

.a.handle img {
  border-radius: 50%;
  height: 30px;
  width: 30px;
}


.a.desc {
  width: 1000px;
  margin: 10px auto;
  color: #fff;
  font-family: Muli, Arial, Helvetica;
  text-align: center;
  font-size: 16px;
}

.a.desc a {
  color: #515151;
}


.footer {
  width: 1000px;
  margin: 10px auto;
  font-family: Muli, Arial, Helvetica;
  text-transform: uppercase;
  color: #515151;
  font-size: 12px;
  position: relative;
}

.footer.copy {
  position: absolute;
  left: 0;
  top: 0;
}

.footer .developer {
  position: absolute;
  right: 0;
  top: 0;
}


.footer .developer a {
  color: #515151;
  text-decoration: none;
}

.footer .developer a:hover {
  text-decoration: underline;
  color: #000;
}
